In [1]:
import yfinance as yf

df = yf.download('AAPL', start='2011-01-01')

[*********************100%***********************]  1 of 1 completed

In [2]:
# pandas 数据查询 - 查询方式灵活多样. 其中 .loc既能查询，又能覆盖写入
# df.index
# df[['Close','Adj Close']]
# df.iloc[2]  # 按行号取一行或范围，行号从0开始
# df.iloc[2:5]  # 按行号取一行或范围，行号从0开始
# df.iloc[20:]  # 按行号取一行或范围，行号从0开始
# df.loc['2022-10-10']    # 按index值取一行或范围
# df.loc['2022-10-10':]    # 按index值取一行或范围
# df.loc['2022-10-10':,['Open','Adj Close']]    # 按index值取一行或范围,第二个指定列1或多个，默认返回所有列
# df.loc['2022-10-10':,'Adj Close']
# df.loc[(df['Adj Close']<11) & (df['Close']>=11)]  # 条件查询，多个条件只能用&和|，不能用and和or
# df[(df['Close']>=170) & (df['Close']<=175)]     # (&) 括号不能省,多个条件只能用&和|，不能用and和or
# df.loc['2022-08-01':][(df['Close']>=170) & (df['Close']<=175)]     # index和其它字段组合查询
# query查询多个条件组合可以使用 and & or |
# df.query("Open >= 180")  # 条件查询
# df.query("(Open >= 180) | (Close >181)")  # 条件查询, | 或 or
# df.query("(Open >= 170) and (Close >181)")  # 条件查询, | 或 or

DatetimeIndex(['2011-01-03 00:00:00-05:00', '2011-01-04 00:00:00-05:00',
               '2011-01-05 00:00:00-05:00', '2011-01-06 00:00:00-05:00',
               '2011-01-07 00:00:00-05:00', '2011-01-10 00:00:00-05:00',
               '2011-01-11 00:00:00-05:00', '2011-01-12 00:00:00-05:00',
               '2011-01-13 00:00:00-05:00', '2011-01-14 00:00:00-05:00',
               ...
               '2022-10-03 00:00:00-04:00', '2022-10-04 00:00:00-04:00',
               '2022-10-05 00:00:00-04:00', '2022-10-06 00:00:00-04:00',
               '2022-10-07 00:00:00-04:00', '2022-10-10 00:00:00-04:00',
               '2022-10-11 00:00:00-04:00', '2022-10-12 00:00:00-04:00',
               '2022-10-13 00:00:00-04:00', '2022-10-14 00:00:00-04:00'],
              dtype='datetime64[ns, America/New_York]', name='Date', length=2967, freq=None)

In [9]:
# lambda 
# df.loc[lambda df:(df['Close']>=170) & (df['Close']<=175)]
# 定义一个查询函数，再传入df.loc
# def query_data(df):
#     return df.index.strftime('%Y-%m-%d')>='2022-01-10'
# # 通过函数查询
# df.loc[query_data]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-10 00:00:00-05:00,169.080002,172.500000,168.169998,172.190002,171.480408,106765600
2022-01-11 00:00:00-05:00,172.320007,175.179993,170.820007,175.080002,174.358490,76138300
2022-01-12 00:00:00-05:00,176.119995,177.179993,174.820007,175.529999,174.806641,74805200
2022-01-13 00:00:00-05:00,175.779999,176.619995,171.789993,172.190002,171.480408,84505800
2022-01-14 00:00:00-05:00,171.339996,173.779999,171.089996,173.070007,172.356796,80440800
...,...,...,...,...,...,...
2022-10-10 00:00:00-04:00,140.419998,141.889999,138.570007,140.419998,140.419998,74899000
2022-10-11 00:00:00-04:00,139.899994,141.350006,138.220001,138.979996,138.979996,77033700
2022-10-12 00:00:00-04:00,139.130005,140.360001,138.160004,138.339996,138.339996,70433700
2022-10-13 00:00:00-04:00,134.990005,143.589996,134.369995,142.990005,142.990005,113224000
2022-10-14 00:00:00-04:00,144.309998,144.520004,138.190002,138.380005,138.380005,88512300