In [15]:
root = "/Users/max/.tibet"
region = "us"

In [16]:
from pandas_datareader import data as pdr
import yfinance as yf
import pandas as pd
# 通过yfinance下载
yf.pdr_override()  # <== that's all it takes :-)

def download(symbol, start, end):
    data = pdr.get_data_yahoo(symbol, start, end)
    filename = f'{root}/{region}/features/{symbol}/day.csv'
    data.to_csv(filename)

In [19]:
import os
import sys
import pandas as pd

symbol = "AAPL"

filepath = f'{root}/{region}/features/{symbol}'
if not os.path.exists(filepath):
    os.makedirs(filepath)

download(symbol,'2000-01-01','2022-12-31')

filename = f'{filepath}/day.csv'
if not os.path.exists(filename):
    print(f'file not found: {filename}')
    download(symbol,'2018-01-01','2022-12-31')
    
df = pd.read_csv(filename)

[*********************100%***********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume
0,2000-01-03 00:00:00-05:00,0.936384,1.004464,0.907924,0.999442,0.853356,535796800
1,2000-01-04 00:00:00-05:00,0.966518,0.987723,0.903460,0.915179,0.781409,512377600
2,2000-01-05 00:00:00-05:00,0.926339,0.987165,0.919643,0.928571,0.792844,778321600
3,2000-01-06 00:00:00-05:00,0.947545,0.955357,0.848214,0.848214,0.724232,767972800
4,2000-01-07 00:00:00-05:00,0.861607,0.901786,0.852679,0.888393,0.758538,460734400
...,...,...,...,...,...,...,...
5729,2022-10-10 00:00:00-04:00,140.419998,141.889999,138.570007,140.419998,140.419998,74899000
5730,2022-10-11 00:00:00-04:00,139.899994,141.350006,138.220001,138.979996,138.979996,77033700
5731,2022-10-12 00:00:00-04:00,139.130005,140.360001,138.160004,138.339996,138.339996,70433700
5732,2022-10-13 00:00:00-04:00,134.990005,143.589996,134.369995,142.990005,142.990005,113224000
5733,2022-10-14 00:00:00-04:00,144.309998,144.520004,138.190002,138.380005,138.380005,88512300