In [1]:
prices = {
    'AAPL': 191.88,
    'GOOG': 1186.96,
    'IBM': 149.24,
    'ORCL': 48.44,
    'ACN': 166.89,
    'META': 208.09,
    'SYMC': 21.29,
    'NVDA': 149.24
}

In [2]:
lst = [value for key, value in prices.items() if value >100]   # list - [191.88, 1186.96, 149.24, 166.89, 208.09, 149.24]
set = {value for key, value in prices.items() if value >100}   # set - {1186.96, 166.89, 208.09, 149.24, 191.88}
dicts = {key:value for key, value in prices.items() if value >100}   # dict
tpls = tuple(lst)       # 内置函数 tuple()，可以将任何可迭代对象（包括列表、字符串、元组等）转换为元组
tuple1 = ('APPL', 'SMFT', 'NVDA', 'GOOG',)   # tuple - 不可变的特性
tuple2 = ('APPL',)   # 元组中只包含一个元素时，需要在元素后面添加逗号 , ，否则括号会被当作运算符使用

In [3]:
tuple3 = tuple([v for v in lst if v>1000])
tuple3

(1186.96,)

In [4]:
print(lst)
print(set)
print(dicts)
print(tpls)
print(tuple1)
print(tuple2)

[191.88, 1186.96, 149.24, 166.89, 208.09, 149.24]
{1186.96, 166.89, 208.09, 149.24, 191.88}
{'AAPL': 191.88, 'GOOG': 1186.96, 'IBM': 149.24, 'ACN': 166.89, 'META': 208.09, 'NVDA': 149.24}
(191.88, 1186.96, 149.24, 166.89, 208.09, 149.24)
('APPL', 'SMFT', 'NVDA', 'GOOG')
('APPL',)