In [19]:
import yfinance as yf

df = yf.download('AAPL', start='2011-01-01')

[*********************100%***********************]  1 of 1 completed

In [20]:
df['ma_5'] = df['Adj Close'].rolling(5).mean()
df['ma_10'] = df['Adj Close'].rolling(10).mean()
df['ma_20'] = df['Adj Close'].rolling(20).mean()
df['vol_std_15'] = df['Volume'].rolling(15).std()
ndf = df.dropna()

In [29]:
# ndf.loc['2022-05-01':][['Adj Close','ma_5','ma_10','ma_20']].plot()
ndf.loc['2022-05-01':]

,Open,High,Low,Close,Adj Close,Volume,ma_5,ma_10,ma_20,vol_std_15
Date,,,,,,,,,,
2022-05-02 00:00:00-04:00,156.710007,158.229996,153.270004,157.960007,157.509460,123055300,158.071860,161.372415,165.530026,2.235307e+07
2022-05-03 00:00:00-04:00,158.149994,160.710007,156.320007,159.479996,159.025131,88966500,158.606329,160.582675,164.584730,2.185505e+07
2022-05-04 00:00:00-04:00,159.669998,166.479996,159.259995,166.020004,165.546494,108256500,160.490939,160.462022,164.134019,2.208252e+07
2022-05-05 00:00:00-04:00,163.850006,164.080002,154.949997,156.770004,156.322876,130525300,159.120862,159.499777,163.383167,2.326415e+07
2022-05-06 00:00:00-04:00,156.009995,159.440002,154.179993,157.279999,157.061829,116124600,159.093158,159.073106,162.653808,2.301978e+07
...,...,...,...,...,...,...,...,...,...,...
2022-10-10 00:00:00-04:00,140.419998,141.889999,138.570007,140.419998,140.419998,74899000,143.687997,144.316997,148.721497,2.187886e+07
2022-10-11 00:00:00-04:00,139.899994,141.350006,138.220001,138.979996,138.979996,77033700,142.263995,143.038997,147.978497,2.240182e+07
2022-10-12 00:00:00-04:00,139.130005,140.360001,138.160004,138.339996,138.339996,70433700,140.651996,141.888997,147.129997,2.333152e+07
2022-10-13 00:00:00-04:00,134.990005,143.589996,134.369995,142.990005,142.990005,113224000,140.163998,141.939998,146.660998,2.369550e+07
2022-10-14 00:00:00-04:00,144.309998,144.520004,138.190002,138.380005,138.380005,88512300,139.822000,141.957999,146.044998,2.378135e+07

In [2]:
# pandas 数据查询 - 查询方式灵活多样. 其中 .loc既能查询，又能覆盖写入
# df.index
# df[['Close','Adj Close']]
# df.iloc[2]  # 按行号取一行或范围，行号从0开始
# df.iloc[2:5]  # 按行号取一行或范围，行号从0开始
# df.iloc[20:]  # 按行号取一行或范围，行号从0开始
# df.loc['2022-10-10']    # 按index值取一行或范围
# df.loc['2022-10-10':]    # 按index值取一行或范围
# df.loc['2022-10-10':,['Open','Adj Close']]    # 按index值取一行或范围,第二个指定列1或多个，默认返回所有列
# df.loc['2022-10-10':,'Adj Close']
# df.loc[(df['Adj Close']<11) & (df['Close']>=11)]  # 条件查询，多个条件只能用&和|，不能用and和or
# df[(df['Close']>=170) & (df['Close']<=175)]     # (&) 括号不能省,多个条件只能用&和|，不能用and和or
# df.loc['2022-08-01':][(df['Close']>=170) & (df['Close']<=175)]     # index和其它字段组合查询
# query查询多个条件组合可以使用 and & or |
# df.query("Open >= 180")  # 条件查询
# df.query("(Open >= 180) | (Close >181)")  # 条件查询, | 或 or
# df.query("(Open >= 170) and (Close >181)")  # 条件查询, | 或 or

DatetimeIndex(['2011-01-03 00:00:00-05:00', '2011-01-04 00:00:00-05:00',
               '2011-01-05 00:00:00-05:00', '2011-01-06 00:00:00-05:00',
               '2011-01-07 00:00:00-05:00', '2011-01-10 00:00:00-05:00',
               '2011-01-11 00:00:00-05:00', '2011-01-12 00:00:00-05:00',
               '2011-01-13 00:00:00-05:00', '2011-01-14 00:00:00-05:00',
               ...
               '2022-10-03 00:00:00-04:00', '2022-10-04 00:00:00-04:00',
               '2022-10-05 00:00:00-04:00', '2022-10-06 00:00:00-04:00',
               '2022-10-07 00:00:00-04:00', '2022-10-10 00:00:00-04:00',
               '2022-10-11 00:00:00-04:00', '2022-10-12 00:00:00-04:00',
               '2022-10-13 00:00:00-04:00', '2022-10-14 00:00:00-04:00'],
              dtype='datetime64[ns, America/New_York]', name='Date', length=2967, freq=None)

In [9]:
# lambda 
# df.loc[lambda df:(df['Close']>=170) & (df['Close']<=175)]
# 定义一个查询函数，再传入df.loc
# def query_data(df):
#     return df.index.strftime('%Y-%m-%d')>='2022-01-10'
# # 通过函数查询
# df.loc[query_data]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-10 00:00:00-05:00,169.080002,172.500000,168.169998,172.190002,171.480408,106765600
2022-01-11 00:00:00-05:00,172.320007,175.179993,170.820007,175.080002,174.358490,76138300
2022-01-12 00:00:00-05:00,176.119995,177.179993,174.820007,175.529999,174.806641,74805200
2022-01-13 00:00:00-05:00,175.779999,176.619995,171.789993,172.190002,171.480408,84505800
2022-01-14 00:00:00-05:00,171.339996,173.779999,171.089996,173.070007,172.356796,80440800
...,...,...,...,...,...,...
2022-10-10 00:00:00-04:00,140.419998,141.889999,138.570007,140.419998,140.419998,74899000
2022-10-11 00:00:00-04:00,139.899994,141.350006,138.220001,138.979996,138.979996,77033700
2022-10-12 00:00:00-04:00,139.130005,140.360001,138.160004,138.339996,138.339996,70433700
2022-10-13 00:00:00-04:00,134.990005,143.589996,134.369995,142.990005,142.990005,113224000
2022-10-14 00:00:00-04:00,144.309998,144.520004,138.190002,138.380005,138.380005,88512300