In [44]:
import pandas as pd
import requests
import json

In [7]:
# HS300
df = pd.read_html('http://vip.stock.finance.sina.com.cn/corp/view/vII_NewestComponent.php?page=1&indexid=000300')

In [ ]:
df[3]

In [51]:
m = requests.get("https://quotes.sina.cn/cn/api/openapi.php/CN_MinlineService.getMinlineData?symbol=sh601155&dpc=1")

In [52]:
js = json.loads(m.text)

In [ ]:
js['result']['data']

In [ ]:
params=(
    ('pagesize','144'),
    ('ut','124dfa21jj343jsfao'),
    ('dpt','')
)
fenshi = requests.get("http://push2ex.eastmoney.com/getStockFenShi")

In [55]:
import get_data
import json
import pandas as pd

In [56]:
# 
jss = get_data.minline('sh601155')
js = json.loads(jss)
dta = js['result']['data']

In [1]:
m = [(v['m'],v['v'],v['p']) for v in dta]

NameError: name 'dta' is not defined

In [77]:
m = {'time':[v['m'] for v in dta], 'volume':[v['v'] for v in dta], 'price':[v['p'] for v in dta],'avgPrice':[v['avg_p'] for v in dta]}
df = pd.DataFrame(m)

In [80]:
df.set_index('time', inplace=True)
df

            volume  price avgPrice
time
09:25:00   4234400  18.61    18.61
09:30:00  12847109  18.78   18.649
09:31:00   6975078  18.79   18.689
09:32:00   2938600  18.78   18.699
09:33:00   2837500  18.47   18.695
...            ...    ...      ...
14:53:00     61200  18.79   18.701
14:54:00     29200  18.79   18.701
14:55:00     30100  18.79   18.701
14:56:00      8054  18.79   18.701
15:00:00     55200  18.79   18.701

[239 rows x 3 columns]

In [65]:
df

         time    volume  price avgPrice
0    09:25:00   4234400  18.61    18.61
1    09:30:00  12847109  18.78   18.649
2    09:31:00   6975078  18.79   18.689
3    09:32:00   2938600  18.78   18.699
4    09:33:00   2837500  18.47   18.695
..        ...       ...    ...      ...
234  14:53:00     61200  18.79   18.701
235  14:54:00     29200  18.79   18.701
236  14:55:00     30100  18.79   18.701
237  14:56:00      8054  18.79   18.701
238  15:00:00     55200  18.79   18.701

[239 rows x 4 columns]